<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>hbase.master</name>
        <value>{{ hostvars[groups['master'][0]].ansible_hostname }}:6000</value>
    </property>
    <property>
        <name>hbase.rootdir</name>
        <value>hdfs://{{ hostvars[groups['master'][0]].ansible_hostname }}:9000/hbase</value>
    </property>
    <property>
        <name>hbase.regionserver.info.bindAddress</name>
        <value>0.0.0.0</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>{{ groups['master'] | map('extract', hostvars, ['ansible_hostname']) | join(',') }},{{ groups['standby'] | map('extract', hostvars, ['ansible_hostname']) | join(',') }},{{ groups['workers'] | map('extract', hostvars, ['ansible_hostname']) | join(',') }}</value>
    </property>
    <property>
        <name>hbase.zookeeper.property.clientPort</name>
        <value>2181</value>
    </property>
    <property>
        <name>zookeeper.znode.parent</name>
        <value>/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.property.dataDir</name>
        <value>/var/lib/zookeeper</value>
    </property>
    <property>
        <name>hbase.cluster.distributed</name>
        <value>true</value>
    </property>
    <property>
        <name>hbase.unsafe.stream.capability.enforce</name>
        <value>false</value>
    </property>
    <property>
        <name>dfs.datanode.max.xcievers</name>
        <value>4096</value>
    </property>
    <property>
        <name>hbase.master.port</name>
        <value>60000</value>
    </property>
    <property>
        <name>hbase.master.info.port</name>
        <value>60010</value>
    </property>
    <property>
        <name>hbase.regionserver.port</name>
        <value>60020</value>
    </property>
    <property>
        <name>hbase.regionserver.info.port</name>
        <value>60030</value>
    </property>
    <property>
        <name>hbase.rest.port</name>
        <value>33333</value>
    </property>
    <property>
      <name>hbase.wal.provider</name>
      <value>filesystem</value>
    </property>
</configuration>
