#[authentication]
#username = your_username
#password = your_password
#
#[cql]
#version = 3.2.1

[connection]
# hostname = public_ip_of_your_node
request_timeout = 6000
client_timeout = 20
# port = 9042


#[tracing]
#max_trace_wait = 10.0


#[ssl]
#certfile = full_path_to_cluster-ca-certificate.pem
#validate = true
#factory = cqlshlib.ssl.ssl_transport_factory
#version = SSLv23

