use default;

CREATE TABLE IF NOT EXISTS u_data(
    userid INT,
    movieid INT,
    rating INT,
    unixtime TIMESTAMP
    )
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
STORED AS TEXTFILE;

LOAD DATA INPATH 'hdfs:///tmp/u.data' overwrite into table u_data;


show databases;

use default;

show tables;

describe  u_data;

select count(*) from u_data;

select count(distinct movieid) from u_data;

select count(distinct movieid) from u_data;

select movieid, avg(rating) from u_data group by movieid;

select movieid, avg(rating) as avg_rating from u_data group by movieid sort by avg_rating DESC;


# https://www.youngju.dev/blog/archives/hive_query_exampl

