[Unit]
Description=Cassandra
# Before=kafka.service
After=network.target remote-fs.target


[Service]
PIDFile=/var/run/cassandra/cassandra.pid
User=cassandra
Group=cassandra
ExecStart=/usr/local/apache-cassandra/bin/cassandra -f -p /usr/local/cassandra/cassandra.pid
StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always


# Type=forking
# Environment=ZOO_LOG_DIR={{ _zookeeper.config.log_path }} CHDIR={{ _zookeeper.config.data_dir }}
# Restart=on-abort


[Install]
WantedBy=multi-user.target

